
<h1>Welcome to the About page!</h1>

<p>
	This is a link to

	<%=link_to "Apple", "http://www.apple.com", class: "btn btn-primary btn-large" %>

	and here is a link to 

		<%=link_to "Ruby", "http://www.rubyonrails.org", class: "btn btn-primary btn-large" %>



</p>

