<H1>Welcome to the About page!</H1>

<p>
	This is a link to

	<%=link_to "Apple", "http://www.apple.com" %>

	and here is a link to 

		<%=link_to "Ruby", "http://www.rubyonrails.org" %>



</p>

<div class="footer">

<small>

Here is another Apple 
	<%=link_to "link", "http://www.apple.com" %>

</small>



</div>
